<!DOCTYPE html>
<html lang="en" class="star-bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    {% extends 'base.html' %}
    
    
    
    {% block content %}
    
    <h2>This is login page</h2>
    <div class="container">
        <div class="row justify-content-center">
        <form method="POST" class="col-5">
            {{ form.hidden_tag() }}

                {{ form.username(class='form-control', placeholder="Username") }}
                {{ form.password(class='form-control', placeholder="Password") }}
                {{ form.submit(class='btn btn-primary', placeholder="Log in") }}
        </form>

    </div>
</div>

{% endblock %}
</body>
</html>