{% extends 'base.html' %}

{% block content %}

<h2>This is register page</h2>

<div class="container">
    <div class="row justify-content-center">
        <form method="POST" class="col-5"></form>
            {{ form.hidden_tag() }}

                {{ form.username(class='form-control', placeholder='Username') }}
                {{ form.email(class='form-control', placeholder='Email') }}
                {{ form.password(class='form-control', placeholder='Password') }}
                {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}
                {{ form.submit(class='btn', placeholder='Submit') }}

    </div>
</div>




<!-- <form>
    <input type="text">
    <input type="text">
    <input type="password">
    <input type="submit">
</form> -->

{% endblock %}
