{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" class="pokeBack" href="../static/pokemon-party.jpg">
    <h2>POKEMON</h2>

    <div><button onclick="location.href='register'">Register</button></div>
    <div><button onclick="location.href='login'">Login</button></div>
    <div class="container">



    </div>
    <div class="container">

        <div class="row-justify-content-center">
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.pokemon(class='form-control', placeholder='Enter the name of a Pokemon') }}
                {{ form.submit(class='btn btn-primary', placeholder="Search Pokemon") }}


            </form>
            
        </div>

    </div>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              Captured Pokemon
            </div>
            <ul class="list-group list-group-flush">

            {% if poke_dict %}


              <li class="list-group-item">Pokemon: {{ poke_dict.name }}</li>
              <li class="list-group-item">Attack: {{ poke_dict.attack['base_stat'] }}</li>
              <li class="list-group-item">Defense: {{ poke_dict.defense['base_stat'] }}</li>
              <img class="list-group-item" src="{{ poke_dict.sprites }}"></img>
            
            {% endif %}


              <!-- <img src="" alt=""> -->
            </ul>
          </div>


    </div>
{% endblock %}